.perfil{
    border-radius: 100px;
    margin: 20px;
    height: 150px;
    width: 150px;
 
}
.off{
    height: 4.8cm;
}
.offcanvas{
    height: auto;
}
.btn2{
    background-color: #f2c84c; 
    margin-left: .4cm;
    margin-right: .6cm;
    border-radius: 12px;
    width: 100%;
}
.color{
    background-color: #f2c84c;
}
.helpers{
    padding: 40% 70px 0 70px;
}