.card{
  height: 90%;
  width: 90%;
  border: 2px solid #C1C1C1;
  }
  .card-body{
  margin-right: 20px;
  margin-left: 20px;
  }
  .input{
  margin-top: 10px;
  }
  .form-control{
  border: 2px solid #C1C1C1;
  }
  .container{
    padding-top: 10%;
  }
  .sub-style{
    color: #B6B6B6;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: initial;
  }
  .hastag-style{
    font-size: 20px; 
    text-align: initial;
    margin-top: 10px;
  }
  .title-style{
    margin-top: 10px;
    color: #F2C94C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .titulo{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: 70%;
    font-style: normal;
  }
  .centrador {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen {
    display: flex;
    width: 150px;
    height: 150px;
  }
  .lost{
    color:#F2C94C;
    margin-top: 20px;
    text-decoration: none;
    border: 1px;
  }
  .crearCuenta{
    margin-right: 30px;
    margin-left: 30px;
  }